[submodule "HF_ART_TELE_BOT"]
	path = HF_ART_TELE_BOT
	url = https://github.com/B0tGuru/HF_ART_TELE_BOT
[submodule "OPENAI_TELEGRAM_BOT"]
	path = OPENAI_TELEGRAM_BOT
	url = https://github.com/B0tGuru/OPENAI_TELEGRAM_BOT
